@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Poppins';
  src:url('/fonts/Poppins/Poppins-Light.ttf');
  font-style: light;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:url('/fonts/Poppins/Poppins-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:url('/fonts/Poppins/Poppins-Medium.ttf');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}


.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.growLeft {
  animation: growLeft 0.7s forwards;
}

.shrinkRight {
  animation: shrinkRight 0.7s forwards;
}

@keyframes growLeft {
  from {
    width: 2.8rem;
  }
  to {
    width: 460px;

  }
}

@keyframes shrinkRight {
  0% {
    width: 460px;
  }
  99% {
    width: 2.8rem;
  }
  
}


.gradient-outline {
  background:linear-gradient(180deg, rgba(85,42,170,1) 0%, rgba(7,144,192,1) 100%);
}

.gradient-outline-grayscale {
background: #718096
}

.center-absolute {
  position: absolute;
  top: 22%;
  left: 48.5%;
  transform: translate(-48.5%, -50%);
  }



.needle-move {
  animation-timing-function: ease-in-out;
  animation: needle-move 4.5s 1;
  transform: rotate(-90deg);
  transform-origin: bottom;
}


@keyframes needle-move {
  0% {
    transform: rotate(-90deg);
    
  }
  10% {
    transform: rotate(-45deg);
  }

  20% {
    transform: rotate(-50deg);
  }
  30% {
    transform: rotate(-54deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  60% {
  transform: rotate(5deg);
  }

  76% {
  transform: rotate(10deg);
  }

  85% {
  transform: rotate(0deg);
  }

  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

