@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Poppins';
  src:url('/fonts/Poppins/Poppins-Light.ttf');
  font-style: light;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:url('/fonts/Poppins/Poppins-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:url('/fonts/Poppins/Poppins-Medium.ttf');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.growLeft {
  animation: growLeft 0.7s forwards;
}

.shrinkRight {
  animation: shrinkRight 0.7s forwards;
}

@keyframes growLeft {
  from {
    width: 2.8rem;
  }
  to {
    width: 460px;

  }
}

@keyframes shrinkRight {
  0% {
    width: 460px;
  }
  99% {
    width: 2.8rem;
  }
  
}
